.copy-code-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.25em 0.5em;
  font-size: 0.7rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f3f3f3;
  color: #333;
}

.copy-code-button:hover {
  background-color: #e0e0e0;
}
